<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <!-- Register a new config section-->
  <configSections>
    <section name="SmallBusinessDataProviders" type="SmallBusinessDataProvidersSection" requirePermission="false"/>
  </configSections>
  <location path="events_edit.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="admin">
    <system.web>
      <authorization>
        <allow roles="Administrators"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="locations_edit.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="news_edit.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="photoalbum_new.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="member_list.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="member_details.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="Data Source=plesksql1.ehosting.com;Initial Catalog=twotwentysolutions;Persist Security Info=True;User ID=nigelcharlton;Password=Marines01"/>
    <add name="ClubSiteDB" connectionString="Data Source=plesksql1.ehosting.com;Initial Catalog=twotwentysolutions;Persist Security Info=True;User ID=nigelcharlton;Password=Marines01"/>
    <!--<add name="LocalSqlServer" connectionString="Data Source=localhost;Initial Catalog=twotwentysolutions;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="ClubSiteDB" connectionString="Server=NIGEL-PC;Initial Catalog=twotwentysolutions;Trusted_Connection=True"/>-->
  </connectionStrings>
  <!-- Register the providers and specify which ones to use for data access for each of the 4 pages-->
  <SmallBusinessDataProviders peopleProviderName="xmlProvider" testimonialsProviderName="xmlProvider" catalogProviderName="xmlProvider" newsProviderName="xmlProvider">
    <!-- Register providers for People - Similarly for other pages-->
    <CatalogProviders>
      <add name="sqlProvider" type="SqlCatalogProvider" connectionStringName="SQLConnectionString"/>
      <add name="xmlProvider" type="XmlCatalogProvider" schemaFile="Items.xsd" dataFile="Items.xml"/>
    </CatalogProviders>
  </SmallBusinessDataProviders>
  <system.web>
    <xhtmlConformance mode="Strict"/>
    <roleManager enabled="true"/>
    <authentication mode="Forms"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Messaging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <membership defaultProvider="AspNetSqlMembershipProvider"/>
    <siteMap defaultProvider="AspNetXmlSiteMapProvider" enabled="true">
      <providers>
        <remove name="AspNetXmlSiteMapProvider"/>
        <add name="AspNetXmlSiteMapProvider" description="SiteMap provider which reads in .sitemap XML files." type="System.Web.XmlSiteMapProvider" securityTrimmingEnabled="true" siteMapFile="Web.sitemap"/>
      </providers>
    </siteMap>
    <!--<customErrors mode="RemoteOnly" defaultRedirect="ErrorPage.htm"/>-->
    <customErrors mode="Off"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>